
<div class="div col-12 d-flex align-items-center justify-content-center">
    <span>
        <button class="no-outline botones btn btn-light btn-sm">
          <i class="bi bi-emoji-frown-fill" [ngClass]="{'red':activoNo, 'gray':!activoNo}" (click)="noMeGusto()"></i>
        </button>
    </span>

    <span>
        <button class="no-outline botones btn btn-light btn-sm">
            <i class="bi bi-emoji-neutral-fill" [ngClass]="{'orange':activoNoSe, 'gray':!activoNoSe}" (click)="noSe()"></i>
        </button>
    </span>

    <span>
        <button class="no-outline botones btn btn-light btn-sm">
            <i class="bi bi-emoji-smile-fill" [ngClass]="{'yellow':activoSi, 'gray':!activoSi}" (click)="siMeGusto()"></i>
        </button>
    </span>

    <span>
        <button class="no-outline botones btn btn-light btn-sm">
            <i class="bi bi-emoji-heart-eyes-fill" [ngClass]="{'green':activoMucho, 'gray':!activoMucho}" (click)="meGustoMucho()"></i>
        </button>
    </span>
</div>

