
<div class="row">
    <div class="col-lg-3">
        <button>
            <i class="bi bi-emoji-frown"></i>
        </button>
    </div>
    <div class="col-lg-3">
        <button>
            <i class="bi bi-emoji-neutral"></i>
        </button>
    </div>
    <div class="col-lg-3">
        <button>
            <i class="bi bi-emoji-smile"></i>
        </button>
    </div>
    <div class="col-lg-3">
        <button>
            <i class="bi bi-emoji-heart-eyes"></i>
        </button>
    </div>
</div>
