<app-promodel-sidemenu></app-promodel-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

  <app-navbar-staff></app-navbar-staff>
  <!-- Start -->
  <div class="bookings-listings-box">
    <h3>{{ 'proyectos.header' | translate }}</h3>

    <ngx-spinner name="buscar" [fullScreen]="true" type="ball-scale-multiple" size="medium">
      <p class="loading">...</p>
    </ngx-spinner>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <app-editor-casting [CastingId]="CastingId"></app-editor-casting>
        </div>
      </div>
    </div>

  </div>
  <!-- End -->
  <app-copyrights></app-copyrights>

</div>
<!-- End Main Content Wrapper Area -->

