<app-promodel-sidemenu></app-promodel-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">
  <!-- Start -->
  <div class="bookings-listings-box">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
        <app-registro-personas></app-registro-personas>
        </div>
      </div>
    </div>
  </div>
  <!-- End -->

  <div class="flex-grow-1"></div>

  <app-copyrights></app-copyrights>
</div>
<!-- End Main Content Wrapper Area -->
