<!-- Start Page Title Area -->
<div
  *ngIf="uid == undefined"
  class="page-title-area"
  style="background-image: url({{ 'assets/img/page-title/page-title2-d.jpg' }})"
>
  <div class="container">
    <div class="page-title-content">
      <h2>{{ this.pageTitleContent[0].title}}</h2>
      <ul>
        <!-- <li><a routerLink="/">Home</a></li>
                <li>{{Content.title}}</li> -->
      </ul>
    </div>
  </div>
</div>
<div *ngIf="uid != undefined"class="container">
  <div class="page-title-content">
    <h2>{{ this.pageTitleContent[0].title}}</h2>
    <!-- <ul>
              <li><a routerLink="/">Home</a></li>
              <li>{{Content.title}}</li>
          </ul> -->
  </div>
</div>
<!-- End Page Title Area -->

<!-- Start Gallery Area -->

<section class="gallery-area bg-f9f9f9 pt-4 pb-70">
  <div class="container">
    <ngx-spinner
      name="spupload"
      [fullScreen]="false"
      type="ball-scale-multiple"
      size="medium"
    >
      <p class="loading">...</p>
    </ngx-spinner>
    <div class="col-lg-4 col-md-6 col-sm12 pt-4" *ngIf="uid">
      <i
        class="bi bi-arrow-return-left"
        style="font-size: 2em"
        (click)="volver()"
      ></i>
    </div>

    <div class="row pt-2">
      <div class="col-lg-6 col-md-6 col-sm-12 pt-2">
        <label>{{ "fotos.titulo" | translate }}</label>
        <form [formGroup]="datosimagen" #formDir="ngForm">
          <input type="text" class="form-control" formControlName="titulo" />
        </form>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 pt-2">
        <label>{{ "fotos.origen" | translate }}</label>
        <select
          class="form-select"
          aria-label="Default select example"
          (change)="onChangeCategoria($event.target.value)"
        >
          <option selected value="">
            {{ "fotos.origen-general" | translate }}
          </option>

          <option
            *ngFor="let casting of castingsActuales"
            [value]="casting.castingId"
          >
            {{ casting.nombre }}
          </option>
        </select>
      </div>
    </div>

    <div class="row pt-2">
      <div class="col-lg-6 col-md-6 col-sm-12 pt-3">
        <label>{{ "fotos.t-upload" | translate }}</label>
        <input
          class="form-control"
          type="file"
          id="customFile"
          (change)="handleFileInput($any($event.target).files)"
          [disabled]="working"
        />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 pt-5">
        <div class="container text-center">
          <div class="row">
            <div class="col align-self-center">
              <button
                type="button"
                class="btn btn-primary"
                ngbTooltip="Upload"
                (click)="upload()"
                [disabled]="working"
              >
                {{ "fotos.enviar" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="col-lg-6 col-md-4 col-sm-12 mb-4" style="display: none">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="false"
              aria-controls="collapseOne"
            >
              {{ "fotos.help" | translate }}
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <p>
                <i class="bx bxs-heart"></i>&nbsp;{{
                  "fotos.prin-lbl" | translate
                }}
              </p>
              <p>
                <i class="bx bxs-lock-alt"></i>&nbsp;{{
                  "fotos.pin-lbl" | translate
                }}
              </p>
              <p>
                <i class="bx bx-x"></i>&nbsp;{{ "fotos.del-lbl" | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let l of fotos">
        <div *ngIf="l.extension == '.mp4'; else otraExtension">
          <h5>{{ l.titulo }}</h5>
          <div class="single-gallery-item">
            <video muted controls style="width: 100%; height: 300px">
              <source src="{{ l.url }}" />
            </video>
            <a
              *ngIf="!l.video"
              [routerLink]=""
              (click)="bntPrincipal(l.id)"
              class="principal-bnt"
              [ngClass]="{ checked: l.principal == true }"
              ><i class="bx bxs-heart"></i
            ></a>
            <a [routerLink]="" (click)="bntEliminar(l.id)" class="eliminar-btn"
              ><i class="bx bx-x"></i
            ></a>
            <a
              [routerLink]=""
              (click)="bntPin(l.id)"
              class="principal-bnt"
              [ngClass]="{ checked: l.permanente == true }"
              ><i class="bx bxs-lock-alt"></i
            ></a>
          </div>
        </div>
        <ng-template #otraExtension>
          <h5>{{ l.titulo }}</h5>
          <div class="single-gallery-item">
            <img
              style="width: 100%"
              [src]="l.url | secureimg | async"
              alt="image"
            />
            <a
              *ngIf="!l.video"
              [routerLink]=""
              (click)="bntPrincipal(l.id)"
              class="principal-bnt"
              [ngClass]="{ checked: l.principal == true }"
              ><i class="bx bxs-heart"></i
            ></a>
            <a [routerLink]="" (click)="bntEliminar(l.id)" class="eliminar-btn"
              ><i class="bx bx-x"></i
            ></a>
            <a
              [routerLink]=""
              (click)="bntPin(l.id)"
              class="pin-btn"
              [ngClass]="{ checked: l.permanente == true }"
              ><i class="bx bxs-lock-alt"></i
            ></a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>
