<!-- Start Events Area -->

<section class="events-area pt-100 pb-70">
  <div class="section-title" *ngIf="hayCasting == false">
    <h2>Lo sentimos, Por el momento no hay Eventos.</h2>
  </div>
  <div class="container" *ngIf="hayCasting != false">
    <div class="section-title" *ngFor="let Title of sectionTitle">
      <h2>{{ Title.title }}</h2>
      <p>{{ Title.paragraph }}</p>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="events-box">
          <img
            [src]="castingPrincipal.logo"
            alt="image"
            style="height: 100%; width: 100%"
          />
          <div class="content">
            <h3>{{ castingPrincipal.nombre }}</h3>
            <span class="meta"
              ><i class="flaticon-calendar"></i>
              {{ castingPrincipal.fechaApertura | date : "yyyy-MM-dd" }}
            </span>
          </div>
          <a class="link-btn" (click)="irCasting(castingPrincipal.id)"></a>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="events-item-list">
          <div
            class="single-events-box"
            *ngFor="let casting of castingsActuales"
          >
            <div class="row m-0">
              <div class="col-lg-4 col-md-4 col-12 p-0">
                <div class="image" (click)="irCasting(casting.id)"  [style.backgroundImage]="'url(' + casting.logo + ')'"></div>
              </div>

              <div class="col-lg-8 col-md-8 p-0">
                <div class="content" (click)="irCasting(casting.id)">
                  <h3>{{ casting.nombre }}</h3>
                  <span class="meta"
                    ><i class="flaticon-calendar"></i>
                    {{ casting.fechaApertura | date : "yyyy-MM-dd" }}
                  </span>
                  <h3>

                      Ver...

                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Events Area -->
