<div class="modal-body">
  <form [formGroup]="formProyecto">
    <div class="row">
      <div class="row ">
        <strong class="abc mt-2">{{ "proyectos.form-Generales" | translate }}</strong>
        <hr>
        <div class="col-md-6 col-sm-6">
          <label>{{ "proyectos.form-nombre" | translate }}</label>
          <input type="text" class="form-control" formControlName="nombre" />
          <label>{{ "proyectos.form-cliente" | translate }}</label>
          <input
            type="text"
            class="form-control"
            formControlName="nombreCliente"
          />
          <label>{{ "proyectos.form-apertura" | translate }}</label>
          <input class="form-control"  formControlName="fechaApertura" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"/>
          <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
          <label>{{ "proyectos.form-cierre" | translate }}</label>
          <input class="form-control"  formControlName="fechaCierre" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"/>
          <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
        </div>
        <div class="col-md-6 col-sm-6 d-flex align-items-center justify-content-center">
          <div class="row m-3">
            <div class="text-center">
              <div class="custom-file fileInputProfileWrap">
                <div class="img-space">
                  <ng-container
                    class="responsive"
                    *ngIf="isImageLoading; else elseTemplate"
                  >
                    <img [src]="logoCasting" class="responsive" />
                  </ng-container>
                  <ng-template #elseTemplate>
                    <img [src]="logoDefault" class="responsive" />
                  </ng-template>
                </div>
              </div>
            <div class="col-md-12 col-sm-12 d-flex align-items-center justify-content-center">
              <div class="row justify-content-md-center align-items-center">
                <div *ngIf="nameImg == null">
                  <span></span>
                </div>
                <!-- <span>{{ nameImg }}</span> -->
                <input
                  #file
                  type="file"
                  (click)="$event.target.value = null"
                  (change)="handleUpload($event)"
                  accept=".png, .jpg, .jpeg, .gif"
                  class="d-none"
                />
                <alert type="danger" *ngIf="logoCasting == null">
                  <strong>{{ "proyectos.form-logo-error" | translate }}</strong>
                </alert>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12 col-sm-12 d-flex align-items-center justify-content-center m-4">
            <br>
            <button
              class="btn btn-primary col-md-12"
              (click)="file.click()"
              style="max-width: 300px"
            >
            {{"proyectos.form-logo" | translate}}
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <label>{{ "proyectos.form-descripcion" | translate }}</label>
        <quill-editor
          #txtDescripcion
          id="txtDescripcion"
          [modules]="modulesQuill"
          (onEditorChanged)="onChangedEditor($event)"
          formControlName="descripcion"
        ></quill-editor>
      </div>
      <div class="row mt-4">
        <strong class="abc ">{{ "proyectos.form-contactos" | translate }}</strong>
        <hr>
      </div>
      <div class="col-md-12 col-sm-12 mt-2 mb-0">
        <app-contactos-cliente
          #contactos
          [Casting]="CastingActual"
        ></app-contactos-cliente>
      </div>
      <div class="row mt-4">
        <strong class="abc">{{ "proyectos.form-categorias" | translate }}</strong>
        <hr>
      </div>
      <div class="col-md-12 col-sm-12 mt-2">
        <app-categorias-casting
          #categorias
          [Casting]="CastingActual"
        ></app-categorias-casting>
      </div>
      <div class="row mt-4">
        <strong class="abc">{{ "proyectos.form-eventos" | translate }}</strong>
        <hr>
      </div>
      <div class="col-md-12 col-sm-12 mt-2">
        <app-eventos-casting #eventos [Casting]="CastingActual"></app-eventos-casting>
      </div>
      <div class="row">
        <div class="row align-items-end justify-content-end">
          <div class="d-flex align-items-end justify-content-end m-2">
            <button
              class="ms-3 mt-3 mb-3 btn btn-danger"
              (click)="salvarDatos()"
              [disabled]="formProyecto.invalid"
            >
              <label>{{ "proyectos.form-salvar" | translate }}</label>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
