<app-promodel-sidemenu></app-promodel-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

  <app-navbar-staff></app-navbar-staff>
  <!-- Start -->
  <div class="bookings-listings-box">
    <h3>{{ 'proyectos.header' | translate }}</h3>

    <ngx-spinner name="buscar" [fullScreen]="true" type="ball-scale-multiple" size="medium">
      <p class="loading">...</p>
    </ngx-spinner>

    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <button type="button" class="btn btn-primary" (click) ="creaProyecto()">
            {{ 'proyectos.crear' | translate }}
          </button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
          <app-buscar-proyecto (Query)="doQuery($event)"></app-buscar-proyecto>
        </div>
      </div>
    </div>

  </div>
  <!-- End -->

  <div class="flex-grow-1"></div>

  <app-copyrights></app-copyrights>

</div>
<!-- End Main Content Wrapper Area -->
