<app-promodel-sidemenu></app-promodel-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">
  <app-navbar-staff>
  </app-navbar-staff>

  <!-- Start -->
  <ngx-spinner
    name="loadCastings"
    [fullScreen]="true"
    type="ball-scale-multiple"
    size="medium"
  >
    <p class="loading">...</p>
  </ngx-spinner>

  <div class="container">
    <div *ngIf="staff || admin">
      <div class="row justify-content-center">
        <h3>{{ "proyectos.header" | translate }}</h3>
        <div class="col-lg-12 col-md-12 col-sm-12 p-3">
          <button
            type="button"
            class="ms-3 btn btn-primary"
            (click)="creaProyecto()"
          >
            {{ "proyectos.crear" | translate }}
          </button>
          <button class="ms-3 btn btn-primary" (click)="refrescar()">
            {{ "proyectos.refrescar" | translate }}
          </button>
        </div>
        <div class="col col-lg-8 col-md-8 col-sm-8 p-3">
          <div [formGroup]="form">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar"
              formControlName="buscar"
            />
          </div>
        </div>
        <div class="col col-lg-4 col-md-4 col-sm-4 p-4">
          <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="inactivos"
          (change)="onChangeInactivos()"
          />
          <label class="form-check-label" for="flexCheckDefault">
            &nbsp;{{ "proyectos.inactivos" | translate }}
          </label>
        </div>
      </div>
    </div>

    <div class="bookings-listings-box"></div>
    <div class="row" *ngIf="castingsFiltrados.some">
      <div
        class="d-block col-lg-4 col-md-6 col-sm-12 pt-2"
        *ngFor="let cast of castingsFiltrados"
      >
        <app-casting-card-component
          [Casting]="cast"
          (refrescarCast)="recibidoDelModal($event)"
          (logoCargado)="logoEvnt($event)"
        ></app-casting-card-component>
      </div>
    </div>
  </div>
  <!-- End

  <div class="flex-grow-1"></div>
  <app-copyrights></app-copyrights>
</div>
<!-- End Main Content Wrapper Area -->
</div>
