<div class="card" style=" overflow-y: auto; ">
  <table class="abc">
    <thead class="card-header">
      <tr>
        <th class="abc2" scope = "col">{{ "tabla.revisor" | translate }}</th>
        <th scope = "col">{{ "tabla.no" | translate }}</th>
        <th scope = "col">{{ "tabla.nose" | translate }}</th>
        <th scope = "col">{{ "tabla.si" | translate }}</th>
        <th scope = "col">{{ "tabla.mucho" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dato of mapeoVotos">
        <td class="abc2">{{dato.usuarioId}}</td>
        <td>{{dato.No}}</td>
        <td>{{dato.Nose}}</td>
        <td>{{dato.Si}}</td>
        <td>{{dato.Mucho}}</td>
      </tr>
    </tbody>
  </table>
</div>
