<footer>
<div class="row">
  <div class="col-lg-6 ">
    <button
    class="mt-2 button-custom"
    type="button"
    (click)="cambiaPassword()"
    >
      {{ "solicitud.cambiar-contrasena-titulo" | translate }}
    </button>
  </div>
  <div class="col-lg-6 ">
    <button
    class="mt-2 button-custom2"
    type="button"
    (click)="confirmar()"
  >
    {{ "side-menu-staff.salir" | translate }}
  </button>
  </div>
</div>
</footer>

<app-modal-confirmacion
  (modalConfirm)="recibidoDelModalLogOut($event)">
</app-modal-confirmacion>

<app-modal-cambiar-password
#modalCambiarPassword
(modalConfirm)="recibidoDelModal($event)"
></app-modal-cambiar-password>
