.inicio
{
  position: absolute;
  top: 10px; left: 40px;

}

.footer
{
  width:96vw;
}

#concecutivo
{
  color: red;
}

#nombre{
color: orange;
}

.exit
{
  font-size: .5em;
}
hr {
  border-top: 3px solid black;
}

.noDisplay
{
  display:none;
}
