<span>
  <ngx-spinner
  name="loadCategorias"
  [fullScreen]="true"
  type="ball-scale-multiple"
  size="medium"
>
  <p class="loading">...</p>
</ngx-spinner>

<form [formGroup]="formBuscar">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <label>{{ "buscar.genero" | translate }}</label>
      <ng-multiselect-dropdown placeholder="&nbsp;" noDataAvailablePlaceholderText="&nbsp;" formControlName="generosId"
        id="generosId" [settings]="dropdownSettings" [data]="dataGeneros" [(ngModel)]="generosId">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
      <label>{{ "buscar.edad" | translate }}</label>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="input-group form-floating">
            <input type="number" class="form-control" id="edadMinima" formControlName="edadMinima" placeholder="##" />
            <label for="edadMinima">{{ "buscar.edad-min" | translate }}</label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="input-group form-floating">
            <input type="number" class="form-control" id="edadMaxima" formControlName="edadMaxima" placeholder="##" />
            <label for="edadMaxima">{{ "buscar.edad-max" | translate }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 pt-2">
      <label>{{ "buscar.tipocuerpo" | translate }}</label>
      <ng-multiselect-dropdown placeholder="&nbsp;" noDataAvailablePlaceholderText="&nbsp;" formControlName="tipoCuerpo"
        id="tipoCuerpo" [settings]="dropdownSettings" [data]="dataTipoCuerpo" [(ngModel)]="selectedTipoCuerpo">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 pt-2">
      <label>{{ "buscar.etnia" | translate }}</label>
      <ng-multiselect-dropdown placeholder="&nbsp;" noDataAvailablePlaceholderText="&nbsp;" formControlName="tipoEtnia"
        id="tipoEtnia" [settings]="dropdownSettings" [data]="dataEtnia" [(ngModel)]="selectedEtnia">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 pt-2">
      <label>{{ "buscar.ojos" | translate }}</label>
      <ng-multiselect-dropdown placeholder="&nbsp;" noDataAvailablePlaceholderText="&nbsp;" formControlName="tipoOjos"
        id="tipoOjos" [settings]="dropdownSettings" [data]="dataOjos" [(ngModel)]="selectedOjos">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 pt-2">
      <label>{{ "buscar.tipocabello" | translate }}</label>
      <ng-multiselect-dropdown placeholder="&nbsp;" noDataAvailablePlaceholderText="&nbsp;"
        formControlName="tipoCabello" id="tipoCabello" [settings]="dropdownSettings" [data]="dataCabello"
        [(ngModel)]="selectedCabello">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 pt-2">
      <label>{{ "buscar.colorcabello" | translate }}</label>
      <ng-multiselect-dropdown placeholder="&nbsp;" noDataAvailablePlaceholderText="&nbsp;"
        formControlName="colorCabello" id="colorCabello" [settings]="dropdownSettings" [data]="dataColorCabello"
        [(ngModel)]="selectedColorCabello">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 pt-2">
      <label>{{ "buscar.idiomas" | translate }}</label>
      <ng-multiselect-dropdown placeholder="&nbsp;" noDataAvailablePlaceholderText="&nbsp;" formControlName="idioma"
        id="idioma" [settings]="dropdownSettings" [data]="dataIdiomas" [(ngModel)]="selectedIdiomas">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 pt-2">
      <label>{{ "buscar.habilidades" | translate }}</label>
      <ng-multiselect-dropdown placeholder="&nbsp;" noDataAvailablePlaceholderText="&nbsp;"
        formControlName="habilidades" idioma="habilidades" [settings]="dropdownSettings" [data]="dataHabilidades"
        [(ngModel)]="selectedHabilidades">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 pt-2">
      <label>{{ "buscar.agencias" | translate }}</label>
      <ng-multiselect-dropdown placeholder="&nbsp;" noDataAvailablePlaceholderText="&nbsp;" formControlName="agencias"
        idioma="agencias" [settings]="dropdownSettings" [data]="dataAgencias" [(ngModel)]="selectedAgencias">
      </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 pt-2">
      <label>{{ "buscar.nombre" | translate }}</label>
      <div class="input-group">
        <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="" />
      </div>
    </div>
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-12 pt-2">
          <div class="row">
            <div class="col-lg-10 col-md-4 col-sm-12">
              <label>{{ "buscar.ordenar" | translate }}</label>
              <div class="input-group">
                <select class="form-select" id="ordenarPor" [(value)]="orden"
                  (change)="ordenChange($event.target.value)">
                  <option *ngFor="let item of ordenModelos" [value]="item">
                    {{ "buscar.ordenar-" + item | translate }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <input class="form-check-input" type="checkbox" (change)="onChangeOrden()" />
            </div>
            <div class="col-10">
              <label class="form-check-label" for="flexCheckDefault">
                {{ "buscar.orden-decendente" | translate }}
              </label>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 pt-4">
          <div class="text-center">
            <button type="button" [disabled]="inCall" (click)="buscar()" class="btn buttonGold">
              {{ "buscar.btn-buscar" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div>
  <tabset>
    <tab heading="{{'buscar.categorias' | translate}}" (selectTab)="onSelectTab($event, 'c')"> 
      <form [formGroup]="formBuscarCasting">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4 col-sm-12 pt-2">
            <label>{{ "buscar.casting" | translate }}</label>
            <select class="form-select" aria-label="Default select example" placeholder="&nbsp;"
              formControlName="casting" (change)="onChangeCasting($event.target.value)">
              <option *ngFor="let casting of castings" [value]="casting.id">
                {{ casting.nombre }}
              </option>
            </select>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-12 pt-2">
            <div class="row">
              <div class="col-lg-12">
                <label>{{ "buscar.categorias" | translate }}</label>
                <select class="form-select" id="categoriaSelect" aria-label="Default select example"
                  formControlName="categorias" (change)="onChangeCategoria($event.target.value)" [ngModel]="categoriaId">
                  <ng-container *ngIf="categorias.length > 0">
                    <option *ngFor="let categoria of categorias" [value]="categoria.id">
                      {{ categoria.nombre }}
                    </option>
                  </ng-container>
                </select>
    
              </div>
              <div class="col-lg-12">
                <div class="form-check pt-1">
                  <input class="form-check-input" type="checkbox" formControlName="porCategorias"
                    (change)="onChangeCheckBox()" />
                  <label class="form-check-label" for="flexCheckDefault">
                    {{ "buscar.por-categoria" | translate }}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-4 pt-3">
            <div class="pt-3">
              <button
              [disabled]="inCall || formBuscarCasting.invalid"
                type="button"
                class="btn btn-outline-secondary no-outline"
                (click)="buscarModelos()"
              >
                <i class="bi bi-eye-fill"></i>&nbsp;{{ "buscar.btn-mostrar" | translate }}
              </button>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 pt-3">
            <div class="pt-3">
              <button
              [disabled]="inCall || formBuscarCasting.invalid"
                type="button"
                class="btn btn-outline-secondary no-outline"
                (click)="descargarArchivoCasting('pdf')"
              >
                <i class="bi bi-file-pdf-fill"></i>&nbsp;{{ "buscar.btn-descargar-pdf" | translate }}
              </button>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 pt-3">
            <div class="pt-3">
              <button
              [disabled]="inCall || formBuscarCasting.invalid"
                type="button"
                class="btn btn-outline-secondary no-outline"
                (click)="descargarArchivoCasting('excel')"
              >
                <i class="bi bi-file-excel-fill"></i>&nbsp;{{ "buscar.btn-descargar-excel" | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </tab>
    <tab heading="{{'buscar.listas' | translate}}"  (selectTab)="onSelectTab($event, 'l')">
      <form [formGroup]="formListas">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4 col-sm-12 pt-2">
            <label>{{ "buscar.listas" | translate }}</label>

            <select class="form-select" aria-label="Default select example" formControlName="listas"
              (change)="onChangeListas($event.target.value)" [ngModel]="listaId">
              <ng-container>
                <option *ngFor="let lista of resListas" [value]="lista.id">
                  {{lista.nombre}}
                </option>
              </ng-container>
            </select>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 pt-3">
            <div class="pt-3">
              <button
              [disabled]="isList || formListas.invalid"
                type="button"
                class="btn btn-outline-secondary no-outline"
                (click)="buscarModelosLista()"
              >
                <i class="bi bi-eye-fill"></i>&nbsp;{{ "buscar.btn-mostrar" | translate }}
              </button>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 pt-3">
            <div class="pt-3">
              <button
              [disabled]="isList || formListas.invalid"
                type="button"
                class="btn btn-outline-secondary no-outline"
                (click)="descargarArchivoLista('pdf')"
              >
                <i class="bi bi-file-pdf-fill"></i>&nbsp;{{ "buscar.btn-descargar-pdf" | translate }}
              </button>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 pt-3">
            <div class="pt-3">
              <button
              [disabled]="isList || formListas.invalid"
                type="button"
                class="btn btn-outline-secondary no-outline"
                (click)="descargarArchivoLista('excel')"
              >
                <i class="bi bi-file-excel-fill"></i>&nbsp;{{ "buscar.btn-descargar-excel" | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </tab>
  </tabset>
</div>
 </span>