<section class="listing-area">
  <ngx-spinner
      name="buscar"
      [fullScreen]="true"
      type="ball-scale-multiple"
      size="medium"
    >
      <p class="loading">...</p>
    </ngx-spinner>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12" *ngIf="datosValidos">
      <div class="pagination-area text-center">
        <pagination-controls
          (pageChange)="nexPage($event)"
          previousLabel="{{ 'buscar.before' | translate }}"
          nextLabel="{{ 'buscar.next' | translate }}"
        ></pagination-controls>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-6 col-sm-12 pt-2"
      *ngFor="
        let persona of personasDesplegables
          | paginate
            : {
                itemsPerPage: paginaTamano,
                currentPage: gridListings,
                totalItems: total
              }
      "
    >
      <app-persona-card
        [direccionVertical]="true"
        [tipoBusqueda]="true"
        [persona]="persona"
        [modoStaff]="true"
      ></app-persona-card>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12" *ngIf="datosValidos">
      <div class="pagination-area text-center">
        <pagination-controls
          (pageChange)="nexPage($event)"
          previousLabel="{{ 'buscar.before' | translate }}"
          nextLabel="{{ 'buscar.next' | translate }}"
        ></pagination-controls>
      </div>
    </div>
  </div>
</section>
