.container
{
  width: 1000px;
  height: 500px;
  margin-bottom: 30px;
  background-color: var(--whiteColor);
  box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
  border-radius: 5px;
  border :1px solid black;
}

