<app-navbar-promodel></app-navbar-promodel>
<div class="banner-area">
    <div class="container mt-4">
        <div>
            <h1 class="fw-bold row justify-content-center">{{ "videos-modelos.titulo" | translate }}</h1>
        </div>
        <div class="row">
            <div *ngFor="let video of videos" class="col-lg-4 col-md-6 video-card-container">
                <div class="video-placeholder ratio ratio-16x9" (click)="openVideo(video, modalTemplate)">
                    
                    <img [src]="video.thumbnailUrl || 'assets/img/placeholder.jpg'" class="video-thumbnail" [alt]="video.titulo">
                    
                    <div class="video-overlay"></div>
                    
                    <div class="video-title">
                        <h5 class="fw-bold m-0">{{ video.titulo }}</h5>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <ng-template #modalTemplate>
        <div class="modal-header">
            <h5 class="modal-title pull-left">{{ videoActivoTitulo }}</h5>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body p-0">
            <ng-container [ngSwitch]="videoActivoFuente">
                <div *ngSwitchCase="'youtube'" class="ratio ratio-16x9">
                    <iframe [src]="videoActivoYoutubeUrl" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
                </div>
                <div *ngSwitchCase="'instagram'" class="instagram-modal-content">
                    <div id="instagram-spinner-container" class="spinner-container">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Cargando...</span>
                        </div>
                    </div>
                    <div id="instagram-embed-content" style="visibility: hidden;"></div>
                </div>
            </ng-container>
        </div>
    </ng-template>
</div>
<app-footer-style-one></app-footer-style-one>