<app-navbar-promodel></app-navbar-promodel>
<br />
<br />
<div class="container mt-1" *ngIf="casting != null">
  <div class="row justify-content-center mt-5">
    <div class="col col-12">
      <img
        src="./../../assets/img/casting/return.svg"
        alt="Volver"
        style="width: 40px; height: auto"
        (click)="regresar()"
      />
    </div>

    <div class="col-12">
      <div class="row">
        <div
          class="col col-lg-4 col-md-12 col-sm-12 offset-md-3 offset-sm-3 offset-lg-0"
        >
          <div class="img-space">
            <ng-container
              class="responsive"
              *ngIf="isImageLoading; else elseTemplate"
            >
              <img [src]="logoCasting" class="responsive" />
            </ng-container>
            <ng-template #elseTemplate>
              <img [src]="logoDefault" class="responsive" />
            </ng-template>
          </div>
          <div class="img-space">
            <ng-container
              class="responsive"
              *ngIf="isImagePromotoraLoading; else elseTemplate2"
            >
              <img [src]="logoPromotora" class="responsive" />
            </ng-container>
            <ng-template #elseTemplate2>
              <img [src]="logoDefault" class="responsive" />
            </ng-template>
          </div>
        </div>
        <div
          class="titulo col-lg-3 col-md-3 col-sm-3 justify-content-start p-3"
        >
          <p>{{ "casting.nombre" | translate }} :</p>
          <p>{{ "casting.cliente" | translate }}:</p>
          <p>{{ "casting.fecha-apertura" | translate }}:</p>
          <p>{{ "casting.fecha-cierre" | translate }}:</p>
        </div>

        <div
          class="titulo col-lg-3 col-md-3 col-sm-3 justify-content-start p-3"
        >
          <p>
            <strong>{{ casting.nombre }}</strong>
          </p>
          <p>
            <strong>{{ casting.nombreCliente }}</strong>
          </p>
          <p>
            <strong>{{ casting.fechaApertura | date : "yyyy-MM-dd" }}</strong>
          </p>
          <p>
            <strong>{{ casting.fechaCierre | date : "yyyy-MM-dd" }}</strong>
          </p>
        </div>
        <div
          class="titulo col-lg-2 col-md-9 col-sm-9 justify-content-start p-3"
          *ngIf="!esModelo"
        >
          <button
            type="button"
            class="btn btn-primary"
            style="width: 100%"
            (click)="login()"
          >
            {{ "navbar.registro-btn-registrar" | translate }}
          </button>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 justify-content-start p-3">
          <h4>{{ "casting.descripcion" | translate }}</h4>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 justify-content-start">
          <div class="list-group list-group-flush">
            <a
              class="list-group-item list-group-item-action"
              aria-current="true"
            >
              <p class="mb-1" [innerHTML]="casting.descripcion"></p>
            </a>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col col-lg-2 col-md-2 col-sm-2 justify-content-start p-3">
          <h4>{{ "casting.categorias" | translate }}</h4>
        </div>
        <div
          class="col-lg-12 col-md-12 col-sm-12 justify-content-start ms-2 me-auto offset-2"
        >
          <div class="list-group list-group-flush">
            <a
              class="list-group-item list-group-item-action"
              aria-current="true"
              *ngFor="let categoria of casting.categorias"
            >
            <app-categoria-casting-view [categoria]="categoria" [esModelo]="esModelo" [modelosPersona]="modelosPersona" [castingId]="castingId"></app-categoria-casting-view>
          </a>
          </div>
        </div>
      </div>
      <hr />
      <div class="row gy-2">
        <div class="col col-lg-2 col-md-2 col-sm-2 justify-content-start p-3">
          <h4>{{ "casting.eventos" | translate }}</h4>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 justify-content-start">
          <div class="list- list-group-flush gy-2 ms-3 me-auto">
            <a
              class="list-group-item list-group-item-action"
              aria-current="true"
              *ngFor="let evento of casting.eventos"
            >
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ evento.lugar }}</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="ms-2 me-auto">
                    {{ evento.coordenadas }}
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="ms-2 me-auto">
                    <p class="card-text">
                      {{ "casting.eventos-fecha-inicio" | translate }}&nbsp;
                      <strong>
                        {{
                          evento.fechaInicial | date : "yyyy-MM-dd hh:mm"
                        }}</strong
                      >
                    </p>
                    <p class="card-text">
                      {{ "casting.eventos-fecha-fin" | translate }} &nbsp;
                      <strong>{{
                        evento.fechaFinal | date : "yyyy-MM-dd hh:mm"
                      }}</strong>
                    </p>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="ms-2 me-auto">
                    <p class="card-text">
                      {{ "casting.eventos-notas" | translate }}
                    </p>
                    <strong
                      ><p class="card-text">{{ evento.notas }}</p></strong
                    >
                  </div>
                </li>
              </ul>
              <br />
              <br />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="fin">
  <app-footer-style-one></app-footer-style-one>
</section>
