<div [formGroup]="formModalCasting">
  <div class="modal-body">
    <div class="row">
      <br><br>
      <ng-template #contactoModal>
        <div class="modal-body text-center">
          <h6>{{'proyectos.eliminar-casting-mensaje' | translate}} <h5>{{this.nombre}}</h5></h6>
          <input type="text" class="btn btn-light" formControlName="nombre">
          <button class="btn btn-default" (click)="confirm()" >{{'proyectos.eliminar-casting-confirmar' | translate}}</button>
          <button class="btn btn-primary" (click)="decline()" >{{'proyectos.eliminar-casting-cancelar' | translate}}</button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
