<!-- Start Main Content Wrapper Area -->
<div class="container">
  <form [formGroup]="formModelos">
    <h4 for="correos">{{ "invitar-modelo.titulo" | translate }}</h4>
      <div class="row">
        <div class="col" >
          <h5 for="agencias">{{ "invitar-modelo.correos" | translate }}</h5>
          <textarea type="text" class="form-control" formControlName="correos"
          placeholder="Escriba aquí los correos separados por comas"></textarea>

        </div>
        <div class="col">
          <h5 for="mensaje">{{ "invitar-modelo.titulo-mensaje" | translate }}</h5>
          <textarea id="mensaje" name="mensaje"  formControlName = "mensaje" class="form-control"></textarea>
        </div>
      </div>
      <div class="mt-2 row">
        <div class="col">
          <button class="btn btn-dark col-lg-3" [disabled]="!formModelos.valid" (click)="enviarInvitaciones()">{{ "invitar-modelo.enviar" | translate }}</button>
        </div>
      </div>
  </form>
</div>
