<div class="modal-header">
  <h4 id="dialog-auto-name" class="modal-title pull-left">Casting</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="hideModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formProyecto" (ngSubmit)="saveToList(formProyecto)">
    <div class="row">
      <div class="col-md-12">
        <label>{{ 'proyectos.form-nombre' | translate }}</label>
        <input type="text" class="form-control" formControlName="nombre">
      </div>
      <div class="col-md-12">
        <label>{{ 'proyectos.form-cliente' | translate }}</label>
        <input type="text" class="form-control" formControlName="nombreCliente">
      </div>
      <div class="col-md-12">
        <label>{{ 'proyectos.form-descripcion' | translate }}</label>
        <quill-editor #txtDescripcion id="txtDescripcion" [modules]="modulesQuill"
          (onEditorChanged)="onChangedEditor($event)"></quill-editor>
      </div>
      <div class="col-md-6 col-sm-6">
        <label>{{ 'proyectos.form-apertura' | translate }}</label>
        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker formControlName="fechaApertura"
          [bsValue]="fechaAperturaSingle" [bsConfig]="{ adaptivePosition: true }">
      </div>
      <div class="col-md-6 col-sm-6">
        <label>{{ 'proyectos.form-cierre' | translate }}</label>
        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker formControlName="fechaCierre"
          [bsValue]="fechaCierreSingle" [bsConfig]="{ adaptivePosition: true }">
      </div>
      <div class="col-md-6">
        <button class="button mt-1" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
