<div class="row pb-4">
    <div class="col-lg-4 col-sm-6 col-md-12  pt-2">
        <div class="user-profile pt-4">
            <div class="d-flex align-items-center">
                <img [src]="avatarUrl" alt="image">
                <div class="title">
                  <h4>{{persona.nombreArtistico}}</h4>
                  <p>{{ 'modelo.t-clavemodelo' | translate }} <span style="color:red; font-weight: bold ;">{{persona.consecutivo}}</span>
                  </p>
                  <span
                        class="sub-title">{{persona.nombre}}&nbsp;{{persona.apellido1}}&nbsp;{{persona.apellido2}}</span>
                    <p>{{persona.generoId}},&nbsp;{{persona.edadString}}&nbsp;{{'modelo.perfil-anos' | translate }}</p>

                    <!-- <div class="rating d-flex align-items-center">
                            <span class="bx bxs-star checked"></span>
                            <span class="bx bxs-star checked"></span>
                            <span class="bx bxs-star checked"></span>
                            <span class="bx bxs-star checked"></span>
                            <span class="bx bxs-star checked"></span>
                            <span class="rating-count">(5 reviews)</span>
                        </div> -->
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 pt-2">
            <h6 class="mt-1">{{ 'modelo.t-idiomas' | translate }}</h6>
            <div *ngIf="persona.idiomasIds">
                <span class="pe-1" *ngFor="let a of persona.idiomasIds">
                    <span class="badge rounded-pill bg-warning">{{a}}</span>
                </span>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 pt-2">
            <h6 class="mt-1">{{ 'modelo.t-habilidades' | translate }}</h6>
            <div *ngIf="persona.actividadesIds">
                <span class="pe-1" *ngFor="let a of persona.actividadesIds">
                    <span class="badge rounded-pill bg-primary">{{a}}</span>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-md-12">
        <div class="user-contact-info">
            <h3>{{ 'modelo.t-generales' | translate }}</h3>
            <table>
                <tr>
                    <td class="fw-normal pe-2" style="border-right: 1px solid gainsboro;">
                        {{'modelo.perfil-nacionalidad' | translate }}
                    </td>
                    <td class="ps-2 fw-light">
                        {{persona.paisOrigenId}}
                    </td>
                </tr>
                <tr>
                    <td class="fw-normal pe-2" style="border-right: 1px solid gainsboro;">
                        {{'modelo.perfil-pais-residencia' | translate }}
                    </td>
                    <td class="ps-2 fw-light">
                        {{persona.paisActualId}}
                    </td>
                </tr>
                <tr>
                    <td class="fw-normal pe-2" style="border-right: 1px solid gainsboro;">
                        {{'modelo.perfil-estado-residencia' | translate }}
                    </td>
                    <td class="ps-2 fw-light">
                        {{persona.estadoPaisId}}
                    </td>
                </tr>
                <tr>
                    <td class="fw-normal pe-2" style="border-right: 1px solid gainsboro;">
                        {{'modelo.perfil-extranjero' | translate }}
                    </td>
                    <td class="ps-2 fw-light">
                        <span *ngIf="persona.extranjero">{{ 'comun.si' |translate }}</span>
                        <span *ngIf="!persona.extranjero">{{ 'comun.no' |translate }}</span>
                    </td>
                </tr>
                <tr *ngIf="persona.extranjero">
                    <td class="fw-normal pe-2" style="border-right: 1px solid gainsboro;">
                        {{'modelo.perfil-permisotrabajo' | translate }}
                    </td>
                    <td class="ps-2 fw-light">
                        <span *ngIf="persona.permisoTrabajo">{{ 'comun.si' |translate }}</span>
                        <span *ngIf="!persona.permisoTrabajo">{{ 'comun.no' |translate }}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-md-12">
        <div class="user-contact-info">
            <h3>{{ 'modelo.t-contacto' | translate }}</h3>

            <ul class="user-contact">
                <li *ngIf="persona.contacto?.telefono"><a href="#"><i class='bx bx-phone-call'></i>
                        {{persona.contacto?.telefono}}</a></li>
                <li *ngIf="persona.contacto?.email"><a href="#"><i class='bx bx-envelope'></i>
                        {{persona.contacto?.email}}</a></li>
                <li *ngIf="persona.contacto?.direccion"><a href="#"><i class='bx bx-map'></i>
                        <span style="text-align: justify;">{{persona.contacto?.direccion}}</span> </a></li>
            </ul>

            <ul class="social-profiles">
                <li *ngIf="persona.contacto?.faceBook"><a href="#"><i class='bx bxl-facebook'></i>
                        <span style="text-align: justify;">{{persona.contacto?.faceBook}}</span> </a></li>

                <li *ngIf="persona.contacto?.twitter"><a href="#"><i class='bx bxl-twitter'></i>
                        <span style="text-align: justify;">{{persona.contacto?.twitter}}</span> </a></li>

                <li *ngIf="persona.contacto?.instagram"><a href="#"><i class='bx bxl-instagram'></i>
                        <span style="text-align: justify;">{{persona.contacto?.instagram}}</span> </a></li>

                <li *ngIf="persona.contacto?.linkedIn"><a href="#"><i class='bx bxl-linkedin'></i>
                        <span style="text-align: justify;">{{persona.contacto?.linkedIn}}</span> </a></li>

            </ul>
        </div>
    </div>
</div>
