<div class="card">
  <div class="card-header">
    <h6>{{persona.nombre}}&nbsp;{{persona.apellido1}}&nbsp;{{persona.apellido2}}</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm12">
            <div class="user-profile">
              <div class="d-flex align-items-center">
                <img [src]="avatarUrl" alt="image">
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-6 col-sm12">
            <div class="user-profile">
              <div class="d-flex align-items-center">
                <div class="title">
                  <span
                    class="sub-title">{{persona.nombreArtistico}}</span>
                  <p>{{persona.generoId}},&nbsp;{{persona.edadString}}&nbsp;{{'modelo.perfil-anos' | translate }}
                    <br>
                    {{ 'modelo.t-clavemodelo' | translate }} <span style="color:red; font-weight: bold ;">{{persona.consecutivo}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-4">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <tabset #tabset>
              <tab heading="{{ 'modelo.t-generales' | translate }}">
                <div class="user-contact-info">
                  <table>
                    <tr>
                      <td class="fw-normal pe-2" style="border-right: 1px solid gainsboro;">
                        {{'modelo.perfil-nacionalidad' | translate }}
                      </td>
                      <td class="ps-2 fw-light">
                        {{persona.paisOrigenId}}
                      </td>
                    </tr>
                    <tr>
                      <td class="fw-normal pe-2" style="border-right: 1px solid gainsboro;">
                        {{'modelo.perfil-pais-residencia' | translate }}
                      </td>
                      <td class="ps-2 fw-light">
                        {{persona.paisActualId}}
                      </td>
                    </tr>
                    <tr>
                      <td class="fw-normal pe-2" style="border-right: 1px solid gainsboro;">
                        {{'modelo.perfil-estado-residencia' | translate }}
                      </td>
                      <td class="ps-2 fw-light">
                        {{persona.estadoPaisId}}
                      </td>
                    </tr>
                    <tr>
                      <td class="fw-normal pe-2" style="border-right: 1px solid gainsboro;">
                        {{'modelo.perfil-extranjero' | translate }}
                      </td>
                      <td class="ps-2 fw-light">
                        <span *ngIf="persona.extranjero">{{ 'comun.si' |translate }}</span>
                        <span *ngIf="!persona.extranjero">{{ 'comun.no' |translate }}</span>
                      </td>
                    </tr>
                    <tr *ngIf="persona.extranjero">
                      <td class="fw-normal pe-2" style="border-right: 1px solid gainsboro;">
                        {{'modelo.perfil-permisotrabajo' | translate }}
                      </td>
                      <td class="ps-2 fw-light">
                        <span *ngIf="persona.permisoTrabajo">{{ 'comun.si' |translate }}</span>
                        <span *ngIf="!persona.permisoTrabajo">{{ 'comun.no' |translate }}</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="fw-normal pe-2" style="border-right: 1px solid gainsboro;">
                        {{'modelo.perfil-idiomas' | translate }}
                      </td>
                      <td class="ps-2 fw-light">
                        <span *ngFor="let a of persona.idiomasIds">{{a}}&nbsp;</span>
                      </td>
                    </tr>
                    <tr>
                      <td class="fw-normal pe-2" style="border-right: 1px solid gainsboro;">
                        {{'modelo.perfil-habilidades' | translate }}
                      </td>
                      <td class="ps-2 fw-light">
                        <span *ngFor="let a of persona.actividadesIds">{{a}}&nbsp;</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </tab>

              <tab heading="{{ 'modelo.t-contacto' | translate }}">
                <div class="user-contact-info">
                  <ul class="user-contact">
                    <li *ngIf="persona.contacto?.telefono"><a href="#"><i class='bx bx-phone-call'></i>
                        {{persona.contacto?.telefono}}</a></li>
                    <li *ngIf="persona.contacto?.email"><a href="#"><i class='bx bx-envelope'></i>
                        {{persona.contacto?.email}}</a></li>
                    <li *ngIf="persona.contacto?.direccion"><a href="#"><i class='bx bx-map'></i>
                        <span style="text-align: justify;">{{persona.contacto?.direccion}}</span> </a></li>
                  </ul>

                  <ul class="social-profiles">
                    <li *ngIf="persona.contacto?.faceBook"><a href="#"><i class='bx bxl-facebook'></i>
                        <span style="text-align: justify;">{{persona.contacto?.faceBook}}</span> </a></li>

                    <li *ngIf="persona.contacto?.twitter"><a href="#"><i class='bx bxl-twitter'></i>
                        <span style="text-align: justify;">{{persona.contacto?.twitter}}</span> </a></li>

                    <li *ngIf="persona.contacto?.instagram"><a href="#"><i class='bx bxl-instagram'></i>
                        <span style="text-align: justify;">{{persona.contacto?.instagram}}</span> </a></li>

                    <li *ngIf="persona.contacto?.linkedIn"><a href="#"><i class='bx bxl-linkedin'></i>
                        <span style="text-align: justify;">{{persona.contacto?.linkedIn}}</span> </a></li>

                  </ul>
                </div>
              </tab>
              <tab heading="{{ 'modelo.t-galeria' | translate }}">
                <div *ngIf="imagenes.length == 0" class="col-lg-12 pt-2">
                  <div style="height: 200px; min-height: 200px;">No hay elementos de galería</div>
                </div>
                <div *ngIf="imagenes.length > 0" class="col-lg-12 pt-5">
                  <ng-image-slider [images]="imagenes" #nav slideImage="1" [manageImageRatio]="true" [infinite]="false"
                    [autoSlide]="1" [lazyLoading]="true" [imageSize]="configCarousel">
                  </ng-image-slider>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
