<!-- Start Navbar Area -->
<div class="navbar-area">
  <div class="vesax-responsive-nav">
    <div class="vesax-responsive-menu">
      <div class="responsive-burger-menu d-lg-none d-block">
        <span class="top-bar"></span>
        <span class="middle-bar"></span>
        <span class="bottom-bar"></span>
      </div>
    </div>
  </div>

  <div class="vesax-nav">
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container">
        <div class="row" >
        </div>
        <div class="row">
          <div class="col-lg-6">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12" >
            <button
            class="button-custom"
            type="button"
            (click)="confirmar()"
            >
            {{ "side-menu-staff.salir" | translate }}
            </button>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="others-option-for-responsive">
    <div class="container">
      <div class="dot-menu">
        <div class="inner">
          <div class="row justify-content-md-center">
            <div class="col-lg-6 ">
              <button
              class="button-custom"
              type="button"
              (click)="confirmar()"
              >
              {{ "side-menu-staff.salir" | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Navbar Area -->
<app-modal-confirmacion
  class="position-absolute"
  (modalConfirm)="recibidoDelModalLogOut($event)">
</app-modal-confirmacion>
