<app-navbar-promodel></app-navbar-promodel>
<app-hometwo-banner></app-hometwo-banner>

<section class="how-it-works-area pt-60 pb-60 bg-f9f9f9">
	<div class="container">
		<p>&nbsp;</p>

		<div class="section-title" *ngIf="tituloActual">
			<h2>{{ tituloActual.title }}</h2>
		</div>

		<div *ngFor="let seccion of contenidoActual" class="single-how-it-works-box row align-items-stretch">

				<div class="col-lg-2 col-md-3">
						<div class="icon">
								<i class="{{ seccion.icon }}"></i>
						</div>
				</div>

				<div class="col-lg-10 col-md-9 d-flex flex-column">
          <h3 class="text-start">{{ seccion.title }}</h3>
          <div class="text-start" [innerHTML]="seccion.content"></div>
				</div>
				
		</div>
		<p>&nbsp;</p>
	</div>

</section>
<section class="feedback-area bg-image ptb-100 ocultar">
  <app-feedback-style-one></app-feedback-style-one>
</section>

<app-footer-botones *ngIf="autenticado == true" ></app-footer-botones>

<section id="fin">
  <app-footer-style-one></app-footer-style-one>
</section>