.inicio
{
  position: absolute;
  top: 10px; left: 40px;

}

.footer
{
  width:96vw;
  bottom: 0;
}

#concecutivo
{
  color: red;
}

#nombre{
color: orange;
}

.exit
{
  font-size: .5em;
}
hr {
  border-top: 3px solid black;
}

.noDisplay
{
  display:none;
}

.contenedor
{
  position:relative;
  display: inline-block;
  right: 50px;

}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 8px;
  text-align: left;
}
th{
  border: none;
}

td:hover{
  background-color: #cca300;
  cursor: pointer;
  color: black;
}

.tabla-con-scroll {
  max-height: 200px;
  overflow-y: auto;
}

.tr-custom{
  background-color: #cca300;
  color: black;
}

tr.selected {
  background-color: #1170d5 !important;
  color: white;
}



