form {
  .input-group {
      margin-bottom: 15px;

      .form-control {
          border: 1px solid #d5d5d5 !important;
          border-radius: 5px;
          background-color: var(--whiteColor) !important;
          padding-top: 9px;
      }
  }

  .button-custom {
      display: block;
      background-color: var(--mainColor);
      color: var(--whiteColor);
      border: none;
      font-weight: 600;
      display: block;
      width: 100%;
      border-radius: 5px;
      padding: 14px 30px 13px;
      transition: var(--transition);

      &:hover {
          background-color: var(--blackColor);
          color: var(--whiteColor);
      }
  }

  .button-custom2 {
    display: block;
    background-color: #000000;
    color: var(--whiteColor);
    border: none;
    font-weight: 600;
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 14px 30px 13px;
    transition: var(--transition);

    &:hover {
        background-color: #1170d5;
        color: var(--whiteColor);
    }
  }

}


.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 15px;
  min-width: 40px;
  left: auto;
  right: 0px;
}

.error-content {
  text-align: center;

  h3 {
      font-size: 35px;

      margin: {
          bottom: 20px;
          top: 45px;
      }

      ;
  }

  p {
      max-width: 550px;

      margin: {
          left: auto;
          right: auto;
          bottom: 0;
      }

      ;
  }

  .default-btn {
      margin-top: 30px;
  }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

  .error-content {
      h3 {
          font-size: 20px;

          margin: {
              bottom: 20px;
              top: 35px;
          }

          ;
      }

      .default-btn {
          margin-top: 20px;
      }
  }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .error-content {
      h3 {
          font-size: 30px;
      }
  }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}

.notification-alert {
  margin-bottom: 30px;
  background-color: #f36d6d;
  border: none;
  padding: 20px 45px 19px 25px;
  color: #000000;
  border-radius: 5px;

  strong {
      font-weight: 600;
  }

  .close {
      top: 6px;
      transition: var(--transition);
  }
}
