<ng-template #modalPass>
  <div class="modalPass" tabindex="-1" aria-hidden="true">
    <div class="container">
      <div class="row g-2">
        <div class="col-12 p-2">
          <h5 class="modal-title" id="exampleModalLabel">
            {{ "navbar.menu-chpass" | translate }}
          </h5>
        </div>
      </div>

      <div class="row g-2">
        <form [formGroup]="passwordForm">
          <div class="col-12 p-2 input-group">
            <input
              [type]="showPass ? 'text' : 'password'"
              placeholder="{{ 'navbar.ingreso-password-actual' | translate }}"
              class="form-control"
              formControlName="contrasenaActual"
            />
            <span class="input-group-text" (click)="swapShowPass()">
              <i [ngClass]="showPass ? 'bx bxs-low-vision' : 'bx bxs-show'"></i>
            </span>
          </div>
          <div class="col-12 p-2 input-group">
            <input
              [type]="showPassNew ? 'text' : 'password'"
              placeholder="{{ 'navbar.ingreso-password-nuevo' | translate }}"
              class="form-control"
              formControlName="contrasenaNueva"
            />
            <span class="input-group-text" (click)="swapShowPassNew()">
              <i
                [ngClass]="showPassNew ? 'bx bxs-low-vision' : 'bx bxs-show'"
              ></i>
            </span>
          </div>
          <div class="col-12 p-2 input-group">
            <input
              [type]="showPassNew ? 'text' : 'password'"
              placeholder="{{
                'navbar.ingreso-password-confirmar' | translate
              }}"
              class="form-control"
              formControlName="contrasenaConfirmar"
            />
          </div>
          <div
            *ngIf="
              passwordForm.hasError('mismatch') &&
              passwordForm.get('contrasenaConfirmar').touched
            "
          >
            <span>{{
              "navbar.ingreso-password-confirmar-error" | translate
            }}</span>
            <br />
            <br />
          </div>
        </form>
      </div>
      <div class="row g-3 justify-content-end">
        <div class="col-4">
          <button
            type="button"
            class="btn btn-default align-self-end"
            (click)="decline()"
          >
            {{ "navbar.menu-chpass-no" | translate }}
          </button>
        </div>
        <div class="col-6">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="passwordForm.invalid"
            (click)="confirm()"
          >
            {{ "navbar.menu-chpass-cambiar" | translate }}
          </button>
        </div>
      </div>
      <br />
    </div>
  </div>
</ng-template>
