<app-promodel-sidemenu></app-promodel-sidemenu>

<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">
  <app-navbar-staff></app-navbar-staff>

  <!-- Start -->
  <div class="bookings-listings-box">
    <ngx-spinner
      name="buscar"
      [fullScreen]="true"
      type="ball-scale-multiple"
      size="medium"
    >
      <p class="loading">...</p>
    </ngx-spinner>
    <div class="containe55">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-12">
          <div class="my-profile-box">
            <h3>{{ "invitar-agente.invitar-agente-invitaciones" | translate }}</h3>
            <form [formGroup]="formAgencias">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="container col-lg-12 col-md-12 col-sm-12 align-items-center justify-content-center">
                  <h3 for="agencias">{{ "invitar-agente.invitar-agente-agencias" | translate }}</h3>
                  <div class="d-flex col-lg-6">
                    <div class="d-flex col-lg-12 col-md-12 col-sm-12">
                      <select class="btn btn-light" formControlName="agencia">
                        <option *ngFor="let agencia of agencias" [value]="agencia.texto">{{ agencia.texto }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="d-block col-lg-12 col-md-12 col-sm-12">
                    <div class="col-md-6 col-sm-6">
                      <h3 for="agencias">{{ "invitar-agente.invitar-agente-correo" | translate }}</h3>
                      <textarea type="text" class="btn btn-light" formControlName="correos" rows="5" cols="40"
                      placeholder="Escriba aquí los correos separados por comas"></textarea>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12" *ngIf="formAgencias.get('agencia').hasError('required')" class="error-message">{{"invitar-agente.invitar-correos-requiere" | translate}}</div>
                  </div>
                  <br>
                  <div class="d-block">
                    <div class="m-1">
                      <button class="btn btn-dark" [disabled]="!formAgencias.valid" (click)="enviarInvitaciones()">{{ "invitar-agente.invitar-agente-modelo" | translate }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>

          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- End -->

  <div class="flex-grow-1"></div>

  <app-copyrights></app-copyrights>
</div>

